@import "../../fonts/Fonts.css";

.home-page {
    height: 100vh;
}

.title {
    margin: 11% 7%;
    width: 1000px;
    font-size: 2em;
    padding: 10px;
}

.title h1 {
    text-transform: uppercase;
    color: white;
    font-size: 3em;
}

.log-in-btn {
    /*background-color: #3499dd;*/
    background-color: white;
    padding: 1em 2em;
    font-size: 1.5em;
    color: black;
    border-radius: 10px;
    position: absolute;
    top: 1em;
    right: 2em;
}

.log-in-btn:hover {
    /*background-color: #3499dd;*/
}
